@use "./navbar.css";
@use "./footer.css";
@import url("https://use.typekit.net/pnd7qhn.css");
//@import url("https://use.typekit.net/iir82zwi.css");

:root {

    /*Fonts*/
    --proxima: proxima-nova, sans-serif;
    --proxima-extra: proxima-nova-extra-condensed, sans-serif;
    --skolar: skolar-latin, serif;
    --mono: input-mono, monospace;
    /*Fonts*/
    /*Colors*/
    --white-main: #fafafa;
    --white-secondary: #ededed;
    --black-secondary: #222;
    --yellow-main: #ffe500;
    --red-main: #f72732;
    --gray-main: #8d8d8d;
    --blue-menu: #000c2d;
    --gray-secondary: #aaa;
    /*Colors*/

    --white-cons: #7C9885;
    --gray-aifa: #e0e0e0;
    --gray-aifa-2: #033F63;
    --black-aifa: #033F63;
    --purple-aifa: #28666E;
    --red-cons: #7C9885;
    --cream-cons: #e0e0e0;
    --bolder: 900;
}

body {
    font-family: var(--proxima);
    font-size: 1.25rem;
    color: var(--gray-aifa-2);
    line-height: 1.6;
    background-color: var(--gray-aifa);
    //overflow-x: hidden;

    @media (max-width: 767px) {
        font-size: 1.125rem;
    }

    strong {
        font-weight: bold;
    }

    .custom-link {
        color: var(--gray-aifa-2);
        text-decoration: underline;
        font-weight: bold;
        text-decoration-color: var(--green-cons);
    }

    a {
        color: unset;

        &:hover {
            color: unset;
        }
    }
}

nav.menu-nav {
    position: unset;
    max-width: 100%;
    width: unset;
    background-color: transparent;
    color: #000;

    &.nav-open {
        background-color: var(--gray-aifa) !important;
        box-shadow: none !important;
    }

    a {
        color: #000;

        &:hover {
            color: var(--blue-mcci);
        }
    }

    @media (max-width: 767px) {
        .navbar-logo {
            background-color: #fff;
        }
    }

    .navbar-toggler {
        color: #000;
    }

    .animated-icon1 {
        span {
            background-color: var(--red-cons);
        }
    }

    .btn-dona {
        color: #000;
        border-color: #000;
    }

    #main-menu {
        li {
            a {
                color: #000;
                border-bottom: 1px solid #000;

                span {
                    color: var(--red-cons);
                }
            }
        }
    }

    .btn-search {
        color: #fff;
        background-color: #000;
    }
}

.navbar-collapse {
    li {
        span {
            color: var(--green-cons);
        }
    }
}

main {
    .figure-caption {
        font-family: var(--proxima-extra);
        font-size: 0.8125rem;
        line-height: 1.2;
        color: var(--white-cons);

        &.black-text {
            color: var(--gray-aifa-2) !important;
        }
    }

    .title {
        font-family: var(--proxima-extra);
        font-size: 3rem;
        font-weight: var(--bolder);
        line-height: 1;
        letter-spacing: 0;
        text-transform: none;
        color: var(--white-cons);

        @media (max-width: 767px) {
            font-size: 2.5rem;
        }

        span {
            color: #fff;
        }
    }

    .summary {
        font: normal normal normal 1.25rem/1.375rem var(--proxima-extra);
        text-align: center;
        letter-spacing: 0;
        color: var(--gray-aifa);
    }

    .mcci-text {
        color: var(--gray-aifa);
        font-size: 1rem;
        letter-spacing: 0;
    }

    .share {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--gray-aifa);
    }

    .author {
        font-size: 1.25rem;
        font-weight: var(--bolder);
        line-height: 1.375rem;
        letter-spacing: 0;
        text-align: center;
        color: var(--gray-aifa-2);

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -7px;
            left: 50%;
            transform: translate(-50%);
            width: 70px;
            height: 4px;
            background-color: var(--red-cons);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 7px;
            left: 50%;
            transform: translate(-50%);
            width: 70px;
            height: 4px;
            background-color: var(--red-cons);
        }
    }

    hr {
        border-top: solid 1px #fff;
    }

    .text-separator {
        font-size: 0.75rem;
        text-align: center;
    }

    .title-section-cons {
        font-family: var(--proxima-extra);
        font-size: 4rem;
        font-weight: var(--bolder);
        text-align: center;
        text-transform: none;

        @media (max-width: 767px) {
            font-size: 2.25rem;
        }

        span {
            font-size: 0.75rem;
            color: var(--red-cons);
        }
    }

    .histories-container {
        background-color: var(--purple-aifa);
        color: var(--gray-aifa);

        .title-post {
            font-size: 1.25rem;
            font-weight: var(--bolder);
            line-height: 1.5rem;
            letter-spacing: 2px;
            text-transform: none;
            word-wrap: break-word;

            @media (max-width: 767px) {
                font-size: 2rem;
                line-height: 2.125rem;
            }
        }
    }

    .credits {
        p {
            text-align: center;
        }
    }
}

footer.footer-main {
    background-color: var(--gray-aifa-2);
}

.background-half {
    background: var(--gray-aifa);
    background: linear-gradient(180deg, var(--gray-aifa) 0%, var(--gray-aifa) 20%, var(--black-aifa) 20%);
}

.scroll-cons {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: var(--cream-cons);
        border-radius: 0;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: var(--gray-aifa-2);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: var(--gray-aifa-2);
    }
}